/**=======================================================**
                      PRELOADER START
**=======================================================**/

.preloader {
	@include flex-center;
	position: fixed;
	@include w100;
	min-height: 100vh;
	overflow: hidden;
	z-index: 10000;
	background: $white;

	.preload {
		position: relative;
		@include square(length(120));
		@include flex-center;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			@include border(solid, 4, $category-border);
			border-left-color: $primary;
			@include square(length(120));
			@include flex-center;
			@include circle;
			animation: spinning 2s linear infinite;
		}

		.loaderlogo {
			@include square(length(60));
			@include flex-center;
			overflow: hidden;

			img {
				@include wh100;
				object-fit: contain;
			}
		}
	}
}

/**=======================================================**
                      PRELOADER END
**=======================================================**/