/**=======================================================**
                        HEADER SECTION START
**=======================================================**/

.header {
	background: $white;
	@include w100;
	@include flex-center-vert;
	transition: top $time;

	&.sticky-header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}

	&-nav {
		@include flex-center-between;
		gap: length(40);

		.hamburger {
			order: 0;

			.btn-hamburger {
				@include square(length(16));
				@include flex-center;
				@include transparent-button;

				@include breakpoint(mobile360) {
					@include square(length(20));
				}

				svg {
					@include wh100;

					path {
						fill: $secondary;
					}
				}
			}

			@include breakpoint(tab992) {
				display: none;
			}
		}

		.logo {
			order: 1;
			width: length(130);
			height: length(48);
			@include flex-center;
			overflow: hidden;

			@include breakpoint(mobile360) {
				width: length(140);
				height: length(48);
			}
			
			@include breakpoint(tab992) {
				order: 0;
        width: length(160);
        height: length(64);
			}

			img {
				@include wh100;
				object-fit: contain;
			}
		}

		.desktopsearch {
			flex-grow: 100;
			display: none;
			position: relative;

			@include breakpoint(tab992) {
				display: block;
			}
			
			.searchbox {
				@include flex-center-vert;
				@include border(solid, 2, $primary);
				@include radius(10);
				height: length(40);
				overflow: hidden;

				.searchfield {
					width: calc(100% - 4.25rem);
					padding: length(11) length(16);
					@include setBgColor(transparent, $footer-heading);
					@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(22.4, 16));

					&::placeholder {
						color: $text-icon;
					}
				}

				.btn-search {
					width: length(68);
					height: length(40);
					@include flex-center;
					background: $primary;
				}
			}

			.desktop-suggestions {
				position: absolute;
				top: 100%;
				left: 0;
				@include w100;
				height: length(440);
				background: $white;
				gap: length(4);
				@include double-radius(bottom, left, 10, bottom, right, 10);
				padding: length(16) length(20) length(24);
				overflow-x: hidden;
				overflow-y: scroll;
				@extend %animation;
				@extend %slideUpIn;
				display: none;
				z-index: 100;

				&::-webkit-scrollbar {
					background: transparent;
					width: length(8);
				}
		
				&::-webkit-scrollbar-thumb {
					background: $profilebox;
					@include radius(8);
				}

				&.active {
					@include flex-column;
				}
			}
		}

		.headerlist {
			position: relative;
			@include list-horizontal;
			gap: length(16);
			order: 2;

			@include breakpoint(tab992) {
				gap: length(24);
			}

			&-item {
				@include hover {
					.headerlist-link {
						svg {
							path {
								fill: $primary;
							}
						}
					}
				}
			}

			&-link {
				position: relative;
				@include transparent-button;
				padding: length(23) length(0);
			
				@include breakpoint(tab992) {
					padding: length(27.5) length(0);
				}

				.icon {
					@include square(length(18));
					@include flex-center;

					@include breakpoint(mobile360) {
					}

					@include breakpoint(mobile768) {
						@include square(length(25));
					}

					svg {
						@include wh100;
					}
				}

				.cartcounter {
					@include setBgColor($secondary, $white);
					@include circle;
					@include square(length(16));
					@include flex-center;
          @include font-face($primaryFont, style('normal'), size(9), weight('normal'), line-height(9, 9));
					position: absolute;
					top: length(10);
					right: length(-10);
					padding: length(4);
					text-align: center;

					@include breakpoint(mobile360) {
						@include square(length(18));
					}
			
					@include breakpoint(tab992) {
						top: length(16);
					}
				}
			}

			.notification-item {
				position: relative;

				@include hover {
					.notificationdropdown {
						display: block;
					}
				}

				.notificationdropdown {
					position: absolute;
					top: 100%;
					right: length(-24);
					background: $copyrightbg;
					filter: $dropdownshadow;
					min-width: length(300);
					max-width: length(300);
					z-index: 100;
					display: none;
	
					@extend %animation;
					@extend %slideUpIn;

					@include breakpoint(mobile576) {
						right: length(0);
					}
	
					.emptynotification {
						&-header {
							padding: length(16) length(20);
							background: $profilebox-2;
	
							.notification-title {
								color: $invoiceBlack;
								@include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(25.2, 18));
							}
						}
	
						&-body {
							@include flex-center-column;
							gap: length(8);
							text-align: center;
							padding: length(48);
		
							.notification-text {
								color: $gray-1;
								@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(22.4, 16));
							}
						}
					}
	
					.notification {
						&-header {
							padding: length(16) length(20);
							background: $profilebox-2;
	
							.notification-title {
								color: $invoiceBlack;
								@include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(25.2, 18));
							}
						}
	
						&-body {
							.notificationlist {
								max-height: length(373);
								overflow-x: hidden;
								overflow-y: scroll;
	
								&::-webkit-scrollbar {
									background: transparent;
									width: length(8);
								}
						
								&::-webkit-scrollbar-thumb {
									background: $profilebox;
									@include radius(8);
								}
	
								&-item {
									background: $notifybg;
									@include border-single(bottom, solid, 0.5, $notifyborder);
									padding: length(16) length(20);
									@include transitionsbackground;
	
									&:last-of-type {
										border-bottom: 0;
									}
	
									@include hover {
										background: $white;
									}
								}
								
								&-link {
									@include flex-center-vert;
									align-items: flex-start;
									gap: length(16);
	
									.notification-thumbnail {
										@include square(length(60));
										@include circle;
										@include flex-center;
										overflow: hidden;
	
										img {
											@include wh100;
											object-fit: cover;
										}
									}
	
									.notification-details {
										width: calc(100% - 4.75rem);
										@include flex-column;
										gap: length(8);
	
										.notification-text {
											color: $border-2;
											@include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16.8, 12));
										}
	
										.notification-date {
											color: $border-1;
											@include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16.8, 12));
										}
									}
								}
							}
						}
	
						&-footer {
							background: $white;
							@include double-radius(bottom, left, 10, bottom, right, 10);
							@include flex-center;
							padding: length(20);
							text-align: center;
	
							.btn-viewall {
								color: $border-2;
								@include font-face($primaryFont, style('normal'), size(14), weight('medium'), line-height(19.6, 14));
								@include transitionscolor;
	
								@include hover {
									color: $primary;
								}
							}
						}
					}
				}
			}

			.user-item {
				position: relative;

				@include hover {
					.userdropdown {
						display: block;
					}
				}

				.userdropdown {
					position: absolute;
					top: 100%;
					right: length(0);
					background: $white;
					filter: $dropdownshadow;
					min-width: length(160);
					max-width: length(200);
					z-index: 100;
					display: none;
	
					@extend %animation;
					@extend %slideUpIn;

					@include breakpoint(mobile576) {
						right: length(0);
					}

					.dropdownlist {
						@include list-vertical;
					
						&-link {
							color: $text-primary;
							@include font-face($primaryFont, style('normal'), size(12), weight('medium'), line-height(16.8, 12));
							@include flex-center-vert;
							gap: length(8);
							@include w100;
							padding: length(8);
							
							.icon {
								@include square(length(16));
								@include flex-center;

								svg {
									@include wh100;
								}
							}

							@include hover {
								background: $notifybg;
							}
						}
					}
				}
			}

			.search-item {
				display: block;
				
				@include breakpoint(tab992) {
					display: none;
				}
			}
		}
	}
}

/**=======================================================**
                        HEADER SECTION END
**=======================================================**/